<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="bg-white p-8 rounded-xl shadow w-full max-w-md">
        <h2 class="text-2xl font-semibold text-center mb-6">Login</h2>

        <button id="googleSignInBtn" class="w-full bg-blue-600 text-white py-2 rounded-lg text-lg mt">
    Sign in with Google
</button>
        <p id="errorMsg" class="text-red-500 text-center mt-4 hidden"></p>

        <p class="mt-6 text-center">
            Don't have an account?
            <a href="/register" class="text-blue-600">Register</a>
        </p>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/auth.js') }}"></script>
</body>
</html>
